<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	
<!-- Mirrored from www.uniqlo.com/customize/notice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:37:38 GMT -->
<head>
		<meta http-equiv="Content-Language" content="ja">
		<title>UNIQLO CUSTOMIEZE｜特定商取引に関する法律に基づく表示</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="オリジナル,プレゼント,ユニフォーム,カスタマイズ,チームウェア,ユニクロ,ＵＮＩＱＬＯ　ＣＵＳＴＯＭＩＺＥ,ユニクロ,ユニクロオンラインストア" />
		<meta name="description" content="UNIQLO CUSTOMIZE　ユニクロ商品に１枚から簡単にカスタマイズできます。豊富なデザイン、カラー、文字などから自由に組み合わせてオリジナルプレゼントやチームウェアを楽しめます" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel="stylesheet" href="common/css/import.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="common/css/start.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="common/css/print.css" type="text/css" media="print" />
		<script type="text/javascript" src="common/js/jquery.js"></script>
        <script type="text/javascript" src="common/js/easing.js"></script>
        <script type="text/javascript" src="common/js/common.js"></script>
	</head>
	<body id="notice">
		<div id="container-wrap">
			<a href="#" name="top"></a>
			<div id="container">
				<!-- header area start -->
<div id="hnavi-wrap">
<p class="logo1"><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="common/image/logo01.gif" alt="UNIQLO" width="70" height="70" /></a></p>
<h1 class="logo2 ro"><a href="top.html" title="UNIQLO CUSTOMIZE"><img src="common/image/logo02.gif" alt="UNIQLO CUSTOMIZE" width="308" height="30" /></a></h1>

<div class="hnav ro">
<ul class="hnav1">
<li class="firstChild"><a href="start.html" title="はじめての方へ"><img src="common/image/gnav01.gif" alt="はじめての方へ" width="72" height="12" /></a></li>
<li><a href="start.html#price" title="料金表"><img src="common/image/gnav02.gif" alt="料金表" width="42" height="12" /></a></li>
<li><a href="https://customize.uniqlo.com/my.php/account/interimRegistration" title="新規会員登録"><img src="common/image/gnav03.gif" alt="新規会員登録" width="68" height="12" /></a></li>
<li><a href="https://customize.uniqlo.com/store.php" title="ショッピングカート"><img src="common/image/gnav04.gif" alt="ショッピングカート" width="105" height="12" /></a></li>
</ul>

<ul class="hnav2">
<li class="firstChild"><a href="select.html" title="デザイン作成"><img src="common/image/gnav05.gif" alt="デザイン作成" width="119" height="11" /></a></li>
<li><a href="sp/index.html" title="特集"><img src="common/image/gnav06.gif" alt="特集" width="85" height="11" /></a></li>
</ul>
</div> <!-- end of class="hnav" -->

<ul class="hnav3 ro">
<li><a href="https://customize.uniqlo.com/my.php" title="マイページ"><img src="common/image/gnav07.gif" alt="マイページ" width="90" height="50" /></a></li>
<li><a href="https://customize.uniqlo.com/my.php/account/login" title="ログイン"><img src="common/image/gnav08.gif" alt="ログイン" width="90" height="19" /></a></li>
</ul>
</div>
				<!-- header area end -->
				
				<!-- contents area start -->
				<div id="contents">

					<div class="title clearfix">
						<h2><img src="image/start_title_00.gif" width="301" height="77" alt="特定商取引に関する法律に基づく表示" title="特定商取引に関する法律に基づく表示"/></h2>
						<ul>
							<li><a href="start.html" title="はじめての方へ"><span class="none">はじめての方へ</span></a></li>
						</ul>
					</div>

					<div class="main">
						<dl class="notice clearfix">
							<dt>販売業者</dt>
							<dd><span class="text">株式会社ユニクロ</span></dd>
							<dt>運営責任者</dt>
							<dd><span class="text">堂前　宣夫</span></dd>
							<dt>所在地</dt>
							<dd><span class="text">〒754-0894山口県山口市佐山717番地1<br/>
TEL：0120-170-296<br/>
Eメールアドレス：<a href="mailto:teamwear@ml.store.uniqlo.com">teamwear@ml.store.uniqlo.com</a></span></dd>
							<dt>商品代金以外に必要な料金</dt>
							<dd>
								<ul>
									<li><span class="text">・消費税</span></li>
									<li><span class="text">・送料　1回のご注文につき、税抜450円<br/>※ただし、1回のご注文で
									税抜5,000円以上お買い上げいただいた場合には、送料は無料とさせていただきます。</span></li>
									<li><span class="text">・加工代金　詳細は<a href="start.html#price">こちら</a></span></li>
								</ul>
							</dd>
							<dt>お届け時期</dt>
							<dd><span class="text">商品は通常ご注文日の翌日より、7日程度でお届けいたします。<br/></span>
<span class="caution">※ご注文が集中した場合やお客様がお住まいの地域によってはお届けが遅くなる場合があります。あらかじめご了承ください。<br/>
※万が一商品をお届けできない場合は、UNIQLO CUSTOMIZEサポートセンターからご連絡いたします。</span></dd>
							<dt>お支払方法</dt>
							<dd>
								<ul>
									<li class="far"><span class="text">・代金引換払い<br/>
商品をお受け取りの際に、現金でお支払いください。<br/></span>
<span class="caution">※一部、代金引換払いをご利用いただけない地域があります。ご了承ください。<br/>
※代引手数料はユニクロが負担いたします。</span></li>
									<li><span class="text">・クレジットカード<br/>
以下のクレジットカードがご利用いただけます。<br/>
VISA、Master、JCB<br/></span>
<span class="caution">※お支払いは翌月一括払いとさせていただきます。<br/> 
※ご注文者様ご本人名義のクレジットカードのみのお取り扱いとさせていただきます。<br/>
※ご記入不備の場合は、Eメールやお電話による確認をさせていただきます。<br/>
※クレジットカード会社により締め日および引落日が異なります。<br/>
※クレジットカード決済にかかる手数料は、ユニクロが負担します。</span></li>
<br/>
<br/>									<li><span class="text">・NP後払い<br/>
請求書は商品に同封されていますので、ご確認ください。<br/>
銀行・郵便局・各種コンビニにてお支払いが可能です。<br/></span>
<span class="caution">※お支払いは一括払いとさせていただきます。<br/> 
※ご記入不備がある場合は、NP後払いでのご注文をお受けできない場合がございます。<br/> 
※サービスに関する詳細は<a href="http://www.np-atobarai.jp/about/index_wiz.html">こちらよりご確認ください。</a></span></li><br/>
</span></li>

								</ul>
							</dd>
							<dt>キャンセル・返品</dt>
							<dd><span class="text">お申し込みのキャンセル・商品の返品交換は、原則としてできません。万一サイズ・本体色・数量等がご注文内容と異なった場合は、商品到着後7日以内にお知らせください。商品到着後7日以内にご連絡がない場合は、お客様のご注文内容に沿った商品が到着したものとみなします。</span></dd>
							<dt>返品方法</dt>
							<dd><span class="text">料金着払いでご返送ください。代金を返還いたします。</span></dd>
							<dt>返金について </dt>
							<dd><span class="text">全品返品の場合、商品の全額(消費税を含む)を返金いたします。<br/>
一部返品の場合、当該商品の代金(消費税含む)のみ返金いたします。<br/>
クレジットカードをご利用の場合、ご返品後、差し引き金額をクレジットカード会社発行のご利用明細書にてご案内いたします。<br/>
代金引換払い・NP後払いをご利用の場合、ご返品確認後、ご指定いただいた口座へ返金金額をお振り込みいたします。</span></dd>
						</dl>
					</div>
					<div class="inquiry">
						<p>UNIQLO CUSTOMIZEに関するお問い合わせ先は<a 
      href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=gwteam">こちら</a></p>
					</div>
<p id="pagetop" class="ro"><a href="#top"><img src="common/image/btn_pagetop.gif" alt="PAGE TOP" title="PAGE TOP" width="73" height="13" /></a></p>
				</div>
				<!-- contents area end -->
				
				<!-- footer area start -->
<div id="footer">
<div class="fnav1">
<ul>
<li><a href="http://www.uniqlo.com/jp/shop/" title="店舗検索"><img src="common/image/fnav01.gif" alt="店舗検索" width="53" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index" title="お客様窓口"><img src="common/image/fnav02.gif" alt="お客様窓口" width="73" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/corp/" title="企業情報"><img src="common/image/fnav03.gif" alt="企業情報" width="63" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/employment/" title="採用情報"><img src="common/image/fnav04.gif" alt="採用情報" width="64" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=uniqloec&amp;id=5139&amp;parent=3866" title="プライバシーポリシー"><img src="common/image/fnav05.gif" alt="プライバシーポリシー" width="113" height="10" /></a></li>
</ul>
<address><img src="common/image/copy.gif" alt="Copyright &copy; UNIQLO Co., Ltd. All Rights Reserved." width="242" height="12" /></address>
<p><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="common/image/logo03.gif" alt="UNIQLO" width="28" height="28" /></a></p>
</div> <!-- end of class="fnav1" -->

<dl class="fnav2">
<dt><img src="common/image/fnav06.gif" alt="World UNIQLO" width="84" height="10" /></dt>
<dd><a href="http://www.uniqlo.com/jp/" title="JAPAN"><img src="common/image/fnav07.gif" alt="JAPAN" width="50" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/us/" target="_blank" title="USA"><img src="common/image/fnav08.gif" alt="USA" width="38" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/uk/" target="_blank" title="UK"><img src="common/image/fnav09.gif" alt="UK" width="32" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/fr/" target="_blank" title="FRANCE"><img src="common/image/fnav10.gif" alt="FRANCE" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/ru/" target="_blank" title="RUSSIA"><img src="common/image/fnav11.gif" alt="RUSSIA" width="56" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/kr/" target="_blank" title="KOREA"><img src="common/image/fnav12.gif" alt="KOREA" width="52" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/cn/" target="_blank" title="CHINA"><img src="common/image/fnav13.gif" alt="CHINA" width="49" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/hk/" target="_blank" title="HONGKONG"><img src="common/image/fnav14.gif" alt="HONGKONG" width="76" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/tw/" target="_blank" title="TAIWAN"><img src="common/image/fnav15.gif" alt="TAIWAN" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/sg/" target="_blank" title="SINGAPORE"><img src="common/image/fnav16.gif" alt="SINGAPORE" width="78" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/my/" target="_blank" title="MALAYSIA"><img src="common/image/fnav17.gif" alt="MALAYSIA" width="59" height="10" /></a></dd>
</dl>
</div>
				<!-- footer area end -->
			</div>
		</div>
		<!-- Google Analytics start-->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-494938-14");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		<!-- Google Analytics end-->
		
		<!-- ADPLAN start-->
		<script language="JavaScript" type="text/javascript" src="http://o.advg.jp/ojs?aid=1633&amp;pid=3&amp;sp_pnm=UC_073_notice">
		</script>
		<noscript>
		<iframe src="http://o.advg.jp/oif?aid=1633&amp;pid=3" width="1" height="1">
		</iframe>
		</noscript>
		<!-- ADPLAN end -->
	</body>

<!-- Mirrored from www.uniqlo.com/customize/notice.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:37:38 GMT -->
</html>