<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
	
<!-- Mirrored from www.uniqlo.com/customize/rule.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:37:37 GMT -->
<head>
		<title>UNIQLO CUSTOMIEZE｜ご利用規約 </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="オリジナル,プレゼント,ユニフォーム,カスタマイズ,チームウェア,ユニクロ,ＵＮＩＱＬＯ　ＣＵＳＴＯＭＩＺＥ,ユニクロ,ユニクロオンラインストア" />
		<meta name="description" content="UNIQLO CUSTOMIZE　ユニクロ商品に１枚から簡単にカスタマイズできます。豊富なデザイン、カラー、文字などから自由に組み合わせてオリジナルプレゼントやチームウェアを楽しめます" />
		<meta http-equiv="Content-Style-Type" content="text/css" />
		<meta http-equiv="Content-Script-Type" content="text/javascript" />
		<link rel="stylesheet" href="common/css/import.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="common/css/start.css" type="text/css" media="screen,all" />
		<link rel="stylesheet" href="common/css/print.css" type="text/css" media="print" />
		<script type="text/javascript" src="common/js/jquery.js"></script>
        <script type="text/javascript" src="common/js/easing.js"></script>
        <script type="text/javascript" src="common/js/common.js"></script>
	</head>
	<body id="rule">
		<div id="container-wrap">
			<a href="#" name="top"></a>
			<div id="container">
				<!-- header area start -->
<div id="hnavi-wrap">
<p class="logo1"><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="common/image/logo01.gif" alt="UNIQLO" width="70" height="70" /></a></p>
<h1 class="logo2 ro"><a href="top.html" title="UNIQLO CUSTOMIZE"><img src="common/image/logo02.gif" alt="UNIQLO CUSTOMIZE" width="308" height="30" /></a></h1>

<div class="hnav ro">
<ul class="hnav1">
<li class="firstChild"><a href="start.html" title="はじめての方へ"><img src="common/image/gnav01.gif" alt="はじめての方へ" width="72" height="12" /></a></li>
<li><a href="start.html#price" title="料金表"><img src="common/image/gnav02.gif" alt="料金表" width="42" height="12" /></a></li>
<li><a href="https://customize.uniqlo.com/my.php/account/interimRegistration" title="新規会員登録"><img src="common/image/gnav03.gif" alt="新規会員登録" width="68" height="12" /></a></li>
<li><a href="https://customize.uniqlo.com/store.php" title="ショッピングカート"><img src="common/image/gnav04.gif" alt="ショッピングカート" width="105" height="12" /></a></li>
</ul>

<ul class="hnav2">
<li class="firstChild"><a href="select.html" title="デザイン作成"><img src="common/image/gnav05.gif" alt="デザイン作成" width="119" height="11" /></a></li>
<li><a href="sp/index.html" title="特集"><img src="common/image/gnav06.gif" alt="特集" width="85" height="11" /></a></li>
</ul>
</div> <!-- end of class="hnav" -->

<ul class="hnav3 ro">
<li><a href="https://customize.uniqlo.com/my.php" title="マイページ"><img src="common/image/gnav07.gif" alt="マイページ" width="90" height="50" /></a></li>
<li><a href="https://customize.uniqlo.com/my.php/account/login" title="ログイン"><img src="common/image/gnav08.gif" alt="ログイン" width="90" height="19" /></a></li>
</ul>
</div>
				<!-- header area end -->
				
				<!-- contents area start -->
				<div id="contents">

					<div class="title clearfix">
						<h2><img src="image/start_title_01.gif" width="301" height="77" alt="ご利用規約" title="ご利用規約"/></h2>
						<ul>
							<li><a href="start.html" title="はじめての方へ"><span class="none">はじめての方へ</span></a></li>
						</ul>
					</div>

					<div class="main">
						<div class="section">
							<h4>お申し込みと契約の成立</h4>
							<ul>
								<li>・UNIQLO CUSTOMIZE（以下、「本サービス」といいます）に関する株式会社ユニクロ（以下、「当社」といいます）とお客様との間における商品の売買契約及び商品加工の委託契約（以下「本契約」といいます）は、当社がお客様から当サイトによってなされるお申し込みを受け、お客様が当サイト上で承諾の意思表示をなした時点、あるいは当社がお客様に「注文内容確認書、請求書」を発送した時点で成立するものといたします。</li>
								<li>・お支払い期日までに代金をご入金いただけない場合、当社は本契約を解除する場合がございます。</li>
								<li>・未成年の方がお申し込みされる場合、親権者の同意が必要となります。</li>
								<li>・本契約に基づいて商品に施される加工のデザインは、当サイト上でお客様にご確認いただいたものによるものといたします。 </li>
								<li>・お客様が希望されるデザインの内容によっては、お申し込みをお受けできない場合がございます。</li>
								<!--■1行目変更前文章：UNIQLO CUSTOMIZE（以下、「本サービス」といいます）に関する株式会社ユニクロ（以下、「当社」といいます）とお客様との間における商品の売買契約及び商品加工の委託契約（以下「本契約」といいます）は、当社がお客様から当サイトあるいは申込書によってなされるお申し込みを受け、お客様が当サイト上で承諾の意思表示をなした時点、あるいは当社がお客様に「注文内容確認書、請求書」を発送した時点で成立するものといたします。</li>
								<!--■2行目変更前文章：別途通知させていただくお支払い期日までに代金をご入金いただけない場合、当社は本契約を解除する場合がございます。</li>
								<!--■4行目変更前文章：本契約に基づいて商品に施される加工のデザインは、当サイト上でお客様にご確認いただいたもの、あるいは当社がお客様に発送する「注文内容確認書」によるものといたします。 
								<!--<li>・デザインデータ、写真データ（以下、「デザインデータ等」といいます）をEメールにて当社に送付される場合、当社がデザインデータ等の送信をお願いする連絡メールを送信した時点から7日以内にデザインデータ等を当社にEメールで送付いただけない時には、お申し込みをお受けできない場合がございます。</li>-->
							</ul>
						</div>
						
						<div class="section">
							<h4>著作権等について</h4>
							<ul>
								<li>・お客様にお申し込みいただく加工のデザインは、第三者の肖像権・著作権・商標権・意匠権、その他の法的権利を何ら侵害しないものとみなし、権利者と争いが生じた場合も当社は一切その責任を負いません。</li>
							</ul>
						</div>
						
						<div class="section">
							<h4>代金のお支払い</h4>
							<ul>
								<li>・本サービスの代金のお支払いは、お客様ご本人名義のクレジットカードによるお支払い、代金引換払い(一部地域除く)、NP後払い（5万円未満）、銀行振込、によるものとします。</li>
								<li>・クレジットカードによるお支払いの場合は、お客様がカード会社との間で別途契約する条件に従うものとします。なお、お客様と当該クレジットカード会社などの間で紛争が発生した場合は、当該当事者双方で解決するものとし、当社には一切責任はないものとします。</li>
								<li>・銀行振込によるお支払いの場合は、お支払い期限までに当社が指定する銀行口座へ代金をお振り込みください。代金の振込手数料はお客様のご負担となります。</li>
								<li>・NP後払いによるお支払い方法の詳細<br />
								<span>請求書は商品に同封されていますので、ご確認ください。</span></li>
								<li>　商品代金のお支払いは「コンビニ」「郵便局」「銀行」どこでも可能です。請求書の記載事項に従って発行日から14日以内にお支払いください。<br />○ご注意<br />後払い手数料：<span style="color:red; font-weight:bold;">無料</span><br />後払いのご注文には、<a href="http://www.netprotections.com/" target="_blank">株式会社ネットプロテクションズ</a>の提供するNP後払いサービスwizが適用され、サービスの範囲内で個人情報を提供し、代金債権を譲渡します。<span style="color:red;"><br />ご利用限度額は累計残高で54,000円（税込）迄です。</span><span>（</span><span lang="EN-US">NP</span><span>後払いサービスご利用分も含まれます。）</span><br />詳細は<a href="http://www.np-atobarai.jp/about/index_wiz.html" target="_blank">こちら</a>をクリックしてご確認下さい。
</li>
								
							</ul>
						</div>
						
						<div class="section">
							<h4>加工を施した商品の取り扱いについて</h4>
							<ul>
								<li>・加工を施した商品の取り扱いについては、ケアラベルの表示をお確かめの上、その指示に従ってください。</li>
							</ul>
						</div>
						
						<div class="section">
							<h4>お申し込みのキャンセル・商品の返品について</h4>
							<ul>
								<li>・お申し込みのキャンセル・商品の返品交換は、原則としてできません。万一サイズ・本体色・数量等がご注文内容と異なった場合は、商品到着後7日以内にお知らせください。商品到着後7日以内にご連絡がない場合は、お客様のご注文内容に沿った商品が到着したものとみなします。</li>
							</ul>
						</div>
						
						<div class="section">
							<h4>2回目以降のご注文について</h4>
							<ul>
								<li>・商品の変更等、当社の事情により、当社は２回目以降のご注文時に初回のご注文内容と同一内容のご注文をお受けできない場合がございます。</li>
							</ul>
						</div>
						
						<div class="section">
							<h4>お客様情報の取り扱いについて</h4>
							<ul>
								<li>・当社では、「個人情報の保護に関する法律」を遵守し、 お客様の個人情報（お客様の氏名・住所・電話番号・FAX番号・メールアドレス等の情報）を厳重に取り扱います。当サイトに入力、あるいは申込書等に記載された個人情報は、本サービスの商品のお届け等に使用するほか、お客様アンケート、当社営業に関するご案内のために使用する場合がございます。その際、当社の業務の一部を委託する業者に対し守秘義務を課した上で情報を開示する場合がございます。また、公共の利益または第三者の法令に基づく権限行使のため必要な場合は、やむを得ず第三者に情報を開示する場合がございます。</li>
							</ul>
						</div>
						
						<div class="section sec-bot">
							<h4>その他</h4>
							<ul>
								<li>・お客様による購入商品の転売はご遠慮ください。万一、お客様が購入商品を転売された場合、今後当社がお客様に商品を販売できなくなる場合がございます。</li>
								<li>・お客様にお申し込みいただいた加工のデザインは、事前にお客様のご承諾をいただいた上で、本サービスのご利用例として当社WEBサイト等でご紹介させていただく場合がございます。</li>
								<li>・お客様にお申し込みいただいた加工のデザインは、お返しいたしません。予めご了承ください。</li>
							</ul>
						</div>
						
					</div>
					<div class="inquiry">
						<p>UNIQLO CUSTOMIZEに関するお問い合わせ先は<a 
      href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=gwteam">こちら</a></p>
					</div>
<p id="pagetop" class="ro"><a href="#top"><img src="common/image/btn_pagetop.gif" alt="PAGE TOP" title="PAGE TOP" width="73" height="13" /></a></p>
				</div>
				<!-- contents area end -->
				
				<!-- footer area start -->
<div id="footer">
<div class="fnav1">
<ul>
<li><a href="http://www.uniqlo.com/jp/shop/" title="店舗検索"><img src="common/image/fnav01.gif" alt="店舗検索" width="53" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/usernavi.do?user=frgroup&amp;faq=index" title="お客様窓口"><img src="common/image/fnav02.gif" alt="お客様窓口" width="73" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/corp/" title="企業情報"><img src="common/image/fnav03.gif" alt="企業情報" width="63" height="10" /></a></li>
<li><a href="http://www.uniqlo.com/jp/employment/" title="採用情報"><img src="common/image/fnav04.gif" alt="採用情報" width="64" height="10" /></a></li>
<li><a href="http://faqnavi12a.csview.jp/faq2/userqa.do?user=frgroup&amp;faq=uniqloec&amp;id=5139&amp;parent=3866" title="プライバシーポリシー"><img src="common/image/fnav05.gif" alt="プライバシーポリシー" width="113" height="10" /></a></li>
</ul>
<address><img src="common/image/copy.gif" alt="Copyright &copy; UNIQLO Co., Ltd. All Rights Reserved." width="242" height="12" /></address>
<p><a href="http://www.uniqlo.com/jp/" title="UNIQLO"><img src="common/image/logo03.gif" alt="UNIQLO" width="28" height="28" /></a></p>
</div> <!-- end of class="fnav1" -->

<dl class="fnav2">
<dt><img src="common/image/fnav06.gif" alt="World UNIQLO" width="84" height="10" /></dt>
<dd><a href="http://www.uniqlo.com/jp/" title="JAPAN"><img src="common/image/fnav07.gif" alt="JAPAN" width="50" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/us/" target="_blank" title="USA"><img src="common/image/fnav08.gif" alt="USA" width="38" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/uk/" target="_blank" title="UK"><img src="common/image/fnav09.gif" alt="UK" width="32" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/fr/" target="_blank" title="FRANCE"><img src="common/image/fnav10.gif" alt="FRANCE" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/ru/" target="_blank" title="RUSSIA"><img src="common/image/fnav11.gif" alt="RUSSIA" width="56" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/kr/" target="_blank" title="KOREA"><img src="common/image/fnav12.gif" alt="KOREA" width="52" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/cn/" target="_blank" title="CHINA"><img src="common/image/fnav13.gif" alt="CHINA" width="49" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/hk/" target="_blank" title="HONGKONG"><img src="common/image/fnav14.gif" alt="HONGKONG" width="76" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/tw/" target="_blank" title="TAIWAN"><img src="common/image/fnav15.gif" alt="TAIWAN" width="58" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/sg/" target="_blank" title="SINGAPORE"><img src="common/image/fnav16.gif" alt="SINGAPORE" width="78" height="10" /></a></dd>
<dd><a href="http://www.uniqlo.com/my/" target="_blank" title="MALAYSIA"><img src="common/image/fnav17.gif" alt="MALAYSIA" width="59" height="10" /></a></dd>
</dl>
</div>
				<!-- footer area end -->
			</div>
		</div>
		<!-- Google Analytics start-->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-494938-14");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
		<!-- Google Analytics end-->
		
		<!-- ADPLAN start-->
		<script language="JavaScript" type="text/javascript" src="http://o.advg.jp/ojs?aid=1633&amp;pid=3&amp;sp_pnm=UC_072_rule">
		</script>
		<noscript>
		<iframe src="http://o.advg.jp/oif?aid=1633&amp;pid=3" width="1" height="1">
		</iframe>
		</noscript>
		<!-- ADPLAN end -->
	</body>

<!-- Mirrored from www.uniqlo.com/customize/rule.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Apr 2015 15:37:38 GMT -->
</html>