/*----------custom page  layout start----------*/

#contents h2{ 
	width:948px;
	border-bottom:#dcdcdc 1px solid;
}
#contents h2 img{
	width:560px;
	height:75px;
}

#contents #product{
	padding:15px 17px 22px 17px;
	border-bottom:#dcdcdc 1px solid;
	position:relative;
}
#contents #product .pro_l{
	margin-top:33px;
	width:288px;
	float:left;
	display:block;
	position:relative;
}
#contents #product .pro_r{
	width:247px;
	float:right;
	display:block;
}
#contents #bottom_area{
	width:948px;
	border-bottom:#dcdcdc 1px solid;
}
/*----------custom page  layout end----------*/

/*----------.pro_l start----------*/
#contents #product .pro_l h4{
	width:288px;
	height:18px;
	position:absolute;
	top:0;
	left:0;
}
#contents #product .pro_l .detail{
	width:210px;
	margin-bottom:17px;
	font-size:100%;
	line-height:150%;
}
#contents #product .pro_l .detail img{
	width:204px;
	margin-top:50px;
	padding-bottom:19px;
}
#contents #product .pro_l .xprice{
	position:absolute;
	top:289px;
	left:0;
}

#contents #product .pro_l .detail2 img{/*特別設置リード分*/
	width:204px;
	margin-top:80px;
	padding-bottom:19px;
}



/*----------click mouseover----------*/
#contents #product .pro_l .click a{
	display:block;
	width:109px;
	height:38px;
	position:absolute;
	top:343px;
	left:0;
	
}
#contents #product .pro_l .click a:hover,
#contents #product .pro_l .click a:active{
	background:url('../../sp/print/image/btn_click_on.gif') no-repeat 0 0;
}
#contents #product .pro_l .click a:hover img,
#contents #product .pro_l .click a:active img{
	visibility:hidden;
}


/**html #contents #product .pro_l .click a:hover{
	background:#FFFFFF;
}
/*----------click mouseover----------*/




#contents #product .pro_l .text{
	position:absolute;
	top:394px;
	left:0;
	font-size:100%;
}
#contents #product .pro_l .text span{
	font-size:110%;
	line-height:190%;
}
#contents #product .pro_l span a:link, 
#contents #product .pro_l span a:visited{
	color:#000;
	text-decoration:underline;
}
#contents #product .pro_l span a:hover,
#contents #product .pro_l span a:active{
	color:#000;
	text-decoration:underline;
	font-weight:bold;
}
/*----------.pro_l end----------*/



/*----------.pro_r start----------*/
#contents #product .pro_r .red{
	margin-bottom:16px;
}
/*----------.product end----------*/



/*----------.product start----------*/
#contents #product #polo{
	position:absolute;
	left:271px;
	top:15px;
}
/*----------.product end----------*/





/*----------#bottom_areae start----------*/

/*----------.csm_l start----------*/
#contents .csm_l{
	width:473px;
	float:left;
	display:block;
	border-right:#dcdcdc 1px solid;
}
#contents .csm_l .sub_ttl{
	width:466px;
	padding:4px 4px 4px 3px;
	border-top:#dcdcdc 1px solid;
	border-bottom:#dcdcdc 1px solid;
}
/*----------.csm_l end----------*/

/*----------.csm_r start----------*/
#contents .csm_r{
	width:474px;
	float:right;
	display:block;
}

#contents .csm_r .sub_ttl{
	width:466px;
	padding:4px;
	border-top:#dcdcdc 1px solid;
	border-bottom:#dcdcdc 1px solid;
}
/*----------.csm_r end----------*/


/*----------.csm_l,.csm_r 共通----------*/
#contents #bottom_area .csm_l .sample,
#contents #bottom_area .csm_r .sample{
	width:236px;
	display:block;
	float:left;
	border-right:#dcdcdc 1px solid;
}
#contents #bottom_area .csm_l ul,
#contents #bottom_area .csm_r ul{
	float:left;
	display:block;
	widht:205px;
	padding:15px 15px 0 16px;
	position:relative;
}
#contents #bottom_area .csm_l li,
#contents #bottom_area .csm_r li{
	width:204px;
	font-size:110%;
	line-height:150%;
	padding-bottom:15px;
}
#contents #bottom_area .csm_l .logo,
#contents #bottom_area .csm_r .logo{
	width:204px;
	position:absolute;
	left:16px;
	top:215px;
}


/*----------click mouseover----------*/
#contents #bottom_area .csm_l li.click a,
#contents #bottom_area .csm_r li.click a{
	display:block;
	width:109px;
	height:38px;
	position:absolute;
	top:392px;
	left:17px;
	
}
#contents #bottom_area .csm_l li.click a:hover,
#contents #bottom_area .csm_r li.click a:hover,
#contents #bottom_area .csm_l li.click a:active,
#contents #bottom_area .csm_r li.click a:active{
	background:url(../../sp/print/image/btn_click_on.gif) 0 0 no-repeat;
}
#contents #bottom_area .csm_l li.click a:hover img,
#contents #bottom_area .csm_r li.click a:hover img,
#contents #bottom_area .csm_l li.click a:active img,
#contents #bottom_area .csm_r li.click a:active img{
	visibility:hidden;
}


/**html #contents #bottom_area .csm_l .click a:hover,
*html #contents #bottom_area .csm_r .click a:hover{
	background:#FFFFFF;
}
/*----------click mouseover----------*/



/*ページトップ*/
#contents div.pagetop{
	width: 948px;
	height: 90px;
}

#contents div.pagetop ul{
	float: right;
	width: 97px;
	height: 23px;
	padding: 9px 8px 0 0;
}

#contents div.pagetop ul li,
#contents div.pagetop ul li a{
	display: block;
	width: 97px;
	height: 23px;
}

#contents div.pagetop ul li a{
	background: url(../image/btn_pgtp.gif) no-repeat 0 0;
}






/*---------- hack IE6 start----------*/

*html #contents .csm_l{
	width:470px;
	float:left;
	display:block;
	border-right:#dcdcdc 1px solid;
}
*html #contents .csm_l .sub_ttl{
	width:466px;
	padding:4px 4px 4px 3px;
	border-top:#dcdcdc 1px solid;
	border-bottom:#dcdcdc 1px solid;
}
/*----------.csm_l end----------*/

/*----------.csm_r start----------*/
*html #contents .csm_r{
	width:473px;
	float:left;
	display:block;
}

*html #contents .csm_r .sub_ttl{
	width:460px;
	padding:4px;
	border-top:#dcdcdc 1px solid;
	border-bottom:#dcdcdc 1px solid;
}
/*----------.csm_r end----------*/


/*----------.csm_l,.csm_r 共通----------*/
*html #contents #bottom_area .csm_l .sample,
*html #contents #bottom_area .csm_r .sample{
	width:236px;
	display:block;
	float:left;
	border-right:#dcdcdc 1px solid;
}
*html #contents #bottom_area .csm_l ul,
*html #contents #bottom_area .csm_r ul{
	float:left;
	display:block;
	widht:204px;
	padding:15px 0 0 16px;
	position:relative;
}