/* TOP ムービーに関するスタイルシート */

/* コンテナー */
#top_movie {
    width: 753px;
    height: 368px;
    position: absolute;
    overflow: hidden;
    background: #fff;
}

/* プリローダー関係 */
#top_preloader{
    position: absolute;
    left: 38px;
    top: 168px;
}
div.top_rect {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #ccc;
    overflow:hidden;
}

img#top_preloader_text {
    position: absolute;
    left: 285px;
    top: 0px;
}
