@CHARSET "utf-8";
div.work_price_notice {
  text-align:left;
  margin: 5px 20px 0px  20px;
  position:relative;
  width:906px;
}
span.nameNoWrap {
  white-space: nowrap;
}
a.posNameLink {
  text-decoration:none;
  white-space: nowrap;
  display:block;
  color: #000000;
}