@charset "utf-8";

/*
* プリント設定
* コンテンツエリアのみ印刷
*/

#container-wrap{
	background: none;
}


#container {
	margin: 0 auto;
	width: 950px;
}



/* header navi */
#hnavi-wrap{
	display: none;
}

/* header */
#header{
	display: none;
	border-style: none;
}

/*contents area*/
#contents{
	border: none;
}

/*flash area*/
body#index #flash-wrap{
	border-style: none;
}


/* footer area*/
#footer{
	border-style: none;
}

#footer p.logo{
	margin-top: 0;
}


.fnav1{
	display: none;
}
.fnav2{
	display: none;
}
