#sample{
	width: 948px;
	font-size: 12px;
	text-align: left;
	border-bottom: #dcdcdc 1px solid;
	border-left: #dcdcdc 1px solid;
}

/*英語TITLE*/
#sample h2{
	width: 948px;
	height: 64px;
	border-bottom: #dcdcdc 1px solid;
}

/*日本語TITLE*/
#sample div.title{
	border-width: 0;
}

#sample div.title h2{
	float: left;
	height: 77px;
	border-bottom: #dcdcdc 1px solid;
}

/*ご利用ガイドトップナビ*/
#sample div.title ul{
	float: right;
	width: 167px;
	height: 27px;
	padding: 25px 19px 0 0;
}

#sample div.title ul li,
#sample div.title ul li a{
	display: block;
	width: 167px;
	height: 27px;
}

#sample div.title ul li a:hover{
	background-position: 0 -27px;
}

/*中TITLE*/
#sample h3{
    clear: both;
   	width: 948px;
	height: 63px;
	background-color: #f5f5f5;
	border-top: #dcdcdc 1px solid;
	border-bottom: #dcdcdc 1px solid;
}




/*レイアウト*/
#sample #point{
    clear:both;
    width:948px;

}
#sample #point .attent{
    width:920px;
    margin:0 0 30px 30px;
    padding:20px 0 0 0;
}

#sample #point .attent img{
    margin:15px 0 15px 0;
}

#sample #point .attent p{
    lign-height:15px;
    font-size:120%;
    line-height:150%;
}
#sample #point .attent p span{
    font-size:90%;
    color:#ff0000;
    font-weight:nomal;
}


/*商品サンプル*/
#sample #easy .box{
	margin:0 24px 30px 24px;
}
#sample #easy .easy_l{
	float: left;
	width: 435px;
	margin: 20px 0 10px 0;
}
#sample #easy .easy_r{
	float: right;
	width: 435px;
	margin: 20px 0 10px 0;
}
#sample #easy .easy_l p,
#sample #easy .easy_r p{
    margin: 0 0 6px 0;
}
#sample #easy .easy-out{
	float: left;
	width: 435px;
	height: 166px;
	border-top: #dcdcdc 1px solid;
	border-left: #dcdcdc 1px solid;
	border-right: #dcdcdc 1px solid;
}
#sample #easy .easy-out img{
	float: left;
}
#sample #easy .easy-in{
	width: 144px;
	height: 166px;
	float:left;
	text-align: center;
	font-size: 11px;
}
#sample #easy .easy_l .point,
#sample #easy .easy_r .point{
	float: left;
	padding: 10px 5px 0 10px;
	width: 420px;
	height: 130px;
	border: #dcdcdc 1px solid;
}
#sample #easy .easy_l .point li,
#sample #easy .easy_r .point li{
	margin: 10px 5px 0 20px;
	list-style-type: disc;
}


/*オリジナルプリントサンプル*/
#sample #original{
	margin:20px 24px 30px 24px;
}
#sample #original .original-out{
	margin:20px 0 6px 0;
}
#sample #original p.size{
	text-align:center;
}
#sample #original .point{
	float: left;
	padding: 10px 5px 0 10px;
	height: 70px;
}
#sample #original .point li{
	margin: 10px 5px 0 20px;
	list-style-type: disc;
}


/*カラーサンプル*/
#sample #iro{
	margin:20px 24px 30px 24px;
}
#sample #iro div.color-ink{
	margin: 35px 0;
	clear: both;
}
#sample #iro div.color-ink p{
	margin: 6px 0;
}
#sample #iro div.color-ink-in{
	margin: 6px 0;
	padding: 20px 10px 20px 20px;
	width: 860px;
	clear: both;
	border: #dcdcdc 1px solid;
}
#sample #iro div.color-ink-in p{
	margin: 0 0 0 10px;
}
#sample #iro div.color-ink-in p.chip{
    margin:0;
	text-align: center;
	line-height: 13px;
	font-size: 10px;
}
#sample #iro div.ink_2{
	width: 700px;
	height: 110px;
	margin: 10px;
}
#sample div.ink_2 .single_1{
	width: 110px;
	height: 20px;
	float: left;
	padding: 15px 5px 0 10px;
}
#sample div.ink_2 .single_2{
	width: 520px;
	height: 20px;
	float: left;
	padding: 15px 0 0 10px;
}
#sample div.ink_2 .double_1{
	width: 110px;
	height: 20px;
	float: left;
	padding: 10px 5px 10px 10px;
}
#sample div.ink_2 .double_2{
	width: 520px;
	height: 20px;
	float: left;
	padding: 10px 0 10px 10px;
}


/*最小サイズサンプル(一部)*/
#sample #small{
	width:948px;
}
#sample #small .box{
	height:530px;
	width:850px;
	margin:20px 24px 30px 24px;
}
#sample #small .small_l{
	width: 400px;
	float:left;
	font-size: 13px;
}
#sample #small .small_r{
	width: 400px;
	float:right;
	font-size: 13px;
	margin:0 0 0 45px;

}
#sample #small .small-img{
	width: 400px;
	height: 200px;
	margin: 5px 0 0 0;
	border-top: #dcdcdc 1px solid;
	border-left: #dcdcdc 1px solid;
	border-right: #dcdcdc 1px solid;
	border-bottom: #dcdcdc 1px solid;
}
#sample #small .point{
	width: 385px;
	height: 45px;
	margin: 5px 0;
	padding: 5px 5px 5px 10px;
	border: #dcdcdc 1px solid;
}


/*リニューアル*/
#renewal{
	margin:5px 20px;
}
#renewal p.come{
	margin:5px;
}
p.come2{
	margin:5px;
	text-align: center	
}
p.come3{
	margin:10px 0 5px 0;

}
#renewal p.come2{
	margin:5px 0px 0px 0px;	
}
#renewal table{
	margin:0px 0px 15px 0px;
}
#renewal ul{
 margin:15px 0px 0px 0px;  
}
#renewal li{
 margin:5px 0px 5px 0px;  
}